*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
.about-content{
    width: 90vw;
    padding: 4vw;
    background: #d6d6d6;
    min-height: 100vh;
}

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 98%;
    font-size: calc(1vw + 10px);
    padding-left: 20px;
}

.content p{
    padding: 10px 0;
}

.title{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 10px;

}

.title span{
    font-style: italic;
}

.pages-intro h2{
    text-align: center;
}

.pages-intro p{
    padding-left: 20px;
}

.sub-contents ol{
    list-style: none;
}

.sub-contents ol li{
    padding: 10px 0;
}

.sub-contents ol li p{
    padding-left: 30px;
}

.policy-list{
    margin-left: calc(20px + 2vw);
}

.policy-list ol{
    list-style-type:circle;
}

.policy-list ol li span{
    font-style: italic;
}

.sub-contents ol li h2{
    padding-bottom: 10px;
}

.sub-contents ol ul{
    list-style: none;
    padding-left: 10vw;
}

#special-list{
    list-style: disc;
}

.sub-contents ol ul span{
   font-weight: 700;
}

